---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Biografía | Kara Estudio" color='bg-slate-50'>
    <div class="grow w-full max-w-3xl mx-auto text-justify">
        <div>
            <img src="/bio.webp" alt="bio" class="aspect-auto w-full h-auto"/>
            <h3 class="py-4 ">
                Soy Ara Darriba, apasionada de la luz, gran amante de la arquitectura, el diseño y cofundadora
                de KARA ESTUDIO.
            </h3>
            <p class="py-4">
                Desde la infancia me he sentido atraída por la arquitectura y el arte en todas sus disciplinas.
                Estas inquietudes son las que me han guiado a lo largo de toda mi formación académica.
                Comencé mis estudios superiores en la escuela de cine y video del País Vasco. Continué mis
                estudios en lo que hoy se conoce como IED KUNSTHAL donde me formé como arquitecta de
                interiores y donde además, años más tarde y con gran ilusión fui profesora de la asignatura de
                iluminación. Proseguí mis estudios en la universidad politécnica de Madrid donde realice el
                máster de iluminación - MASTERDIA.
            </p>
        </div>

            <p class="py-4">
                Siempre me ha interesado la luz en todos sus estados y formas. He pasado horas infinitas
                observando la luz natural y los cielos nocturnos. Observo y aprendo de los grandes maestros
                de la luz de nuestro tiempo. A día de hoy y después de casi 15 años experimentando con la luz
                me sigue fascinando cómo con un pequeño gesto podemos cambiar el aspecto de una
                gran sala. Estudio y experimento con como los colores de la luz y sus intensidades influyen en
                nuestro estado y agrado y por ende en nuestro bienestar. Mi principal función como diseñadora
                de iluminación es contemplar como la luz se relaciona con la arquitectura y en cómo ésta es
                interpretada por el ser humano.
            </p>
            <p class="py-4">
                Durante años he trabajado para diferentes empresas y he colaborado con distintos
                profesionales del sector de la arquitectura e iluminación. Han sido unos años muy
                enriquecedores ya que he tenido la oportunidad de colaborar en grandes proyectos y de
                diversas envergaduras. Esta experiencia y bagaje son las que me han permitido poder formar
                mi propio estudio.
            </p>
       

    </div>
  

   
</Layout>
<style>
    strong {
        font-weight: 600;       
    }
</style>
