---
import Layout from "../layouts/Layout.astro";
---

<Layout title="El Estudio | Kara Estudio" color="bg-slate-50" description="espacio colaborativo de profesionales independientes de la iluminación todos formados
                en el ámbito de la arquitectura e interiorismo">
    <div class="grow w-full max-w-3xl mx-auto text-justify text-gray-600">
        <h1 class="text-4xl my-14 text-gray-700">El Estudio</h1>
        <div>
            <p class="py-4 ">
                KARA ESTUDIO llega con la intención de aunar toda la experiencia lumínica de estos años en
                un mismo proyecto y donde concentrar todas las miradas y esfuerzos.
            </p>
            <p class="py-4">
                Un espacio colaborativo de profesionales independientes de la iluminación todos formados
                en el ámbito de la arquitectura e interiorismo, con gran experiencia en el sector de la
                iluminación y con amplio recorrido profesional. A todos les une y define la intención de
                hacer proyectos lumínicos con el máximo impacto positivo en las personas y el mínimo
                impacto en el medio ambiente. Se abordan todo tipo de proyectos tanto de interior como de
                exterior y de ámbito público y privado.
            </p>
            <div>
                <picture>
                    <img src="/estudio.jpg" alt="estudio" />
                  </picture>
            </div>
           
        </div>
       
        <div class="mx-auto max-w-screen-xl p-4 sm:px-6 lg:px-8">
            <h2>
                ILUMINACION DE HOTELES / RESTAURANTES / OFICINAS / CENTROS
                DEPORTIVOS / VIVIENDA PRIVADA / URBANISMO / PAISAJISMO / GALERIAS DE
                ARTE / MUSEOS
            </h2>
        </div>

    </div>
  

   
</Layout>
<style>
    strong {
        font-weight: 600;       
    }
</style>
