---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kara Estudio de Luz 💡" color='home-blue'>
    <section class="flex items-center justify-center h-full">
        <video autoplay muted loop plays-inline>
            <source src="intro_video.mp4" />
        </video>
        <div>
            <h1 class="home-title text-5xl md:text-6xl lg:text-8xl text-[#A67479]">Estudio de Luz</h1>
        </div>
    </section>
</Layout>
<style>
    home-title {
        font-family: "Silka-Medium", system-ui;
        font-size: 3em;
        width: 100%;
    }
    video {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
        max-width: none;
    }
</style>
