---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kara Estudio de Luz 💡" color='bg-slate-50' sectionName="home" description="iluminación en San Sebastián">
    <section class="flex items-center justify-center h-full overflow-hidden">
        <video autoplay muted loop plays-inline>
            <source src="intro_video2.mp4" />
        </video>
        <div>
            <h1 class="home-title  text-3xl md:text-8xl   text-[#A67479] lg:mb-20">ESTUDIO DE LUZ</h1>
        </div>
    </section>
</Layout>
<style>
    home-title {
        font-family: "Silka-Medium", system-ui;
        font-size: 3em;
        width: 100%;
    }
    video {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
        max-width: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>
