---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Luz y Salud | Kara Estudio" color="bg-slate-50">
    <div class="p-4 sm:px-8 lg:px-8 text-gray-700">
        <h1 class="text-4xl my-14 text-gray-800">Luz y Salud</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-16 text-sm">
            <div class="gap-4 bg-slate-300 p-10 rounded">
                <picture>
                    <img src="/gafas.jpg" alt="bio" />
                </picture>
                <h3 class="text-base pt-4 text-gray-800">
                    LA LUZ: LAS GAFAS CON LAS QUE VES TODO LO QUE TE RODEA
                </h3>
                <p class="py-4">
                    La iluminación y nuestra percepción pueden influenciar de manera importante en la
                    percepción sensorial en un determinado ambiente. Por lo que podemos modificar el estado
                    de ánimo de un usuario que se encuentra en situación de estrés emocional utilizando una
                    iluminación adecuada. La luz tiene un efecto directo sobre el cerebro ya que regula el reloj
                    biológico y los ritmos circadianos. Además, la luz también influye en el estado de ánimo, la
                    atención y la creatividad y rendimiento cognitivo.                
                </p>
            </div>
            <div class="gap-4 bg-slate-300 p-10 rounded">
                <picture>
                    <img src="/bienestar.jpg" alt="bio" />
                </picture>
                <h3 class="text-base pt-4 text-gray-800">
                    LA IMPORTANCIA DE LA LUZ PARA NUESTRO BIENESTAR
                </h3>
                <p class="py-4">
                    La luz es uno de los elementos más importantes del entorno construido, ya que influye
                    directamente en cómo percibimos, sentimos y actuamos en cada uno de los espacios que
                    habitamos y es uno de los elementos fundamentales de la neuroarquitectura, ya que afecta
                    puntualmente a varias funciones cerebrales. Es un estímulo primordial para el cerebro y
                    puede afectar a nuestras emociones y comportamientos. Esta comprobado cómo puede
                    mejorar nuestra salud, aportarnos bienestar y ayudar con la productividad cuando se emplea
                    estratégicamente y conscientemente en cada espacio que proyectamos.
                </p>
            </div>
            <div  class="gap-4 bg-slate-300 p-10 rounded">
                <picture>
                    <img src="/contaminacion.jpg" alt="bio" />
                </picture>
              
                <h3 class="text-base pt-4 text-gray-800">
                    LA CONTAMINACIÓN LUMÍNICA Y NUESTRA RESPONSABILIDAD
                </h3>
                <p class="py-4">
                    La contaminación lumínica es un fenómeno de iluminación no deseada del cielo nocturno que
                    se debe a varios factores como el exceso de potencia de las luminarias, el resplandor luminoso
                    que provienes del reflejo de suelo, y el porcentaje de espectro azul de la fuente luminosa.               
                </p>
                <p class="py-4">
                    Existe un marcado resplandor nocturno causado por una mala planificación en proyectos de
                    iluminación exterior que repercute en la dispersión innecesaria de luz en la atmósfera, dando
                    lugar a un gran desperdicio de energía, afectando a la biodiversidad y a los comportamientos
                    de animales nocturnos y plantas, y perjudicando seriamente a los seres humanos al alterar sus
                    ritmos circadianos. Podemos mitigar estos efectos haciendo un proyecto consciente y a
                    medida.                
                </p>
            </div>
        </div>

    </div>
   
</Layout>


