---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Proyectos de Iluminación | Kara Estudio" color="bg-slate-50" description="proyectos de iluminación realizados">
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4">
        <div class="grid gap-4 content-between">
            <a href="/proyectos/palace">
                <picture class="overflow-hidden block">
                    <img
                        class="h-auto max-w-full hover:scale-125 ease-in duration-150 opacity-80 hover:opacity-100"
                        src="/portada_1.jpg"
                        alt="Palace Barcelona"
                    />
                </picture>
            </a>
            <a href="/proyectos/circuloecuestre">
                <picture class="overflow-hidden block">
                    <img
                        class="h-auto max-w-full hover:scale-125 ease-in duration-150 opacity-80 hover:opacity-100"
                        src="/portada_4.jpg"
                        alt="Circulo Ecuestre"
                    />
                </picture>
            </a>
            <a href="/proyectos/mucca">
                <picture class="overflow-hidden block">
                    <img
                        class="h-auto max-w-full hover:scale-125 ease-in duration-150 opacity-80 hover:opacity-100"
                        src="/portada_5.jpg"
                        alt="Mucca Madrid"
                    />
                </picture>
            </a>
            <a href="/proyectos/circuloecuestre">
                <picture class="overflow-hidden block">
                    <img
                        class="h-auto max-w-full hover:scale-125 ease-in duration-150 opacity-80 hover:opacity-100"
                        src="/portada_3.jpg"
                        alt="Circulo Ecuestre"
                    />
                </picture>
            </a>
        </div>
        <div class="grid gap-4 content-between">
            <a href="/proyectos/circuloecuestre">
                <picture class="overflow-hidden block">
                    <img
                        class="h-auto max-w-full hover:scale-125 ease-in duration-150 opacity-80 hover:opacity-100"
                        src="/portada_2.jpg"
                        alt="Circulo Ecuestre"
                    />
                </picture>
            </a>

            <a href="/proyectos/boulevard">
                <picture class="overflow-hidden block">
                    <img
                        class="h-auto max-w-full hover:scale-125 ease-in duration-150 opacity-80 hover:opacity-100"
                        src="/portada_6.jpg"
                        alt="Boulevard Donostia"
                    />
                </picture>
            </a>
        </div>
        <div class="grid gap-4 content-between">
            <a href="/proyectos/avdom">
                <picture class="overflow-hidden block">
                    <img
                        class="h-auto max-w-full hover:scale-125 ease-in duration-150 opacity-80 hover:opacity-100"
                        src="/portada_7.jpg"
                        alt="AvDom Madrid"
                    />
                </picture>
            </a>

            <a href="/proyectos/avdom">
                <picture class="overflow-hidden block">
                    <img
                        class="h-auto max-w-full hover:scale-125 ease-in duration-150 opacity-80 hover:opacity-100"
                        src="/portada_8.jpg"
                        alt="AvDom Madrid"
                    />
                </picture>
            </a>

            <a href="/proyectos/mugako">
                <picture class="overflow-hidden block">
                    <img
                        class="h-auto max-w-full hover:scale-125 ease-in duration-150 opacity-80 hover:opacity-100"
                        src="/portada_9.jpg"
                        alt="Mugako Vitoria"
                    />
                </picture>
            </a>

            <a href="/proyectos/chillidaleku">
                <picture class="overflow-hidden block">
                    <img
                        class="h-auto max-w-full hover:scale-125 ease-in duration-150 opacity-80 hover:opacity-100"
                        src="/portada_11.jpg"
                        alt="Chillida Leku"
                    />
                </picture>
            </a>
        </div>
        <div class="grid gap-4 content-between">
            <a href="/proyectos/chillidaleku">
                <picture class="overflow-hidden block">
                    <img
                        class="h-auto max-w-full hover:scale-125 ease-in duration-150 opacity-80 hover:opacity-100"
                        src="/portada_10.jpg"
                        alt="Chillida Leku"
                    />
                </picture>
            </a>
            <a href="/proyectos/avdom">
                <picture class="overflow-hidden block">
                    <img
                        class="h-auto max-w-full hover:scale-125 ease-in duration-150 opacity-80 hover:opacity-100"
                        src="/portada_12.jpg"
                        alt="Av Dom Madrid"
                    />
                </picture>
            </a>

        </div>
    </div>
</Layout>
