
<footer class="bg-transparent text-[#A67479] my-2">
    <div class="mx-auto max-w-screen-xl">
     
  
      <div class="pt-8">
        <div class="sm:flex sm:justify-between">
  
          <ul class="mt-8 mb-1 md:mb-0 flex flex-wrap justify-center gap-4 text-xs sm:mt-0 lg:justify-end">
            <li>
              <a href="#" class=" transition hover:opacity-75 px-1.5">#PROYECTOS</a>
            </li>
  
            <li>
              <a href="#" class=" transition hover:opacity-75">#ILUMINACIÓN</a>
            </li>
  
            <li>
              <a href="#" class=" transition hover:opacity-75">#ASESORIA</a>
            </li>
            <li>
              <a href="#" class=" transition hover:opacity-75">#LIGHT ART</a>
            </li>
  
            <li>
              <a href="#" class=" transition hover:opacity-75">#SLOW LIGHT</a>
            </li>
          </ul>
          <div class="sm:flex sm:justify-center text-center">
            <span class="text-[8px] px-1.5">KARA ESTUDIO 2024</span>
          </div>
        </div>
       
      </div>
     
    </div>
  </footer>

  <style>
    footer{
      font-family: "Silkamono-Regular";
    }
  </style>