---

import Logo from "./Logo.astro"
---

<header class="bg-transparent">
    <div class="mx-auto max-w-screen-xl p-4 sm:px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="flex-1 md:flex md:items-center">
          <a class="block" href="/">
            <span class="sr-only"></span>
            <div class="w-44">
              <a class="text-gray-900 transition hover:text-gray-300/75" href="/">  
                 <Logo>
               </a>
            
            </div>
         
          </a>
        </div>
  
        <div class="md:flex md:items-center md:gap-12">
          <nav aria-label="Global" class="hidden md:block">
            <ul class="flex items-center gap-6 text-sm">
              <li>
                <a class="text-gray-900 transition hover:text-gray-900/75" href="/proyectos"> Proyectos </a>
              </li>

              <li>
                <a class="text-gray-900 transition hover:text-gray-900/75" href="/estudio"> Estudio </a>
              </li>

              <li>
                <a class="text-gray-900 transition hover:text-gray-900/75" href="/luzsalud"> Luz y Salud </a>
              </li>

              <li>
                <a class="text-gray-900 transition hover:text-gray-900/75" href="/biografia"> Biografía </a>
              </li>
  
              <li>
                <a class="text-gray-900 transition hover:text-gray-900/75" href="/contacto"> Contacto </a>
              </li>
            </ul>
          </nav>

  
            <div class="block md:hidden relative">
              <div class="group">
                <button type="button"
                class="rounded bg-transparent p-2 text-gray-900 transition hover:text-gray-300/75">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
              </button>
              <div class="absolute right-0 w-40 origin-top-left bg-white divide-y divide-gray-100 rounded-md shadow-lg opacity-0 invisible group-hover:opacity-100 group-hover:visible transition duration-300 z-10">
                <div class="py-1">
                    <a href="/proyectos" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Proyectos</a>
                    <a href="/estudio" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Estudio</a>
                    <a href="/luzsalud" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Luz y Salud</a>
                    <a href="/biografia" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Biografía</a>
                    <a href="/contacto" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Contacto</a>
                </div>
              </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <style>
    header{
      font-family: "Silkamono-Regular";
    }
  </style>


