<div
  class="relative h-dvh w-full max-w-[100vw] md:aspect-video md:h-[80vh] xl:h-full"
>
  <div
    class="absolute inset-0 h-full justify-center z-10 m-auto flex flex-col items-center w-full"
  >
    <video
      autoplay
      loop
      muted
      playsinline
      id="main-video"
      preload="metadata"
      class="video cp-v h-full w-full object-cover animate-duration-[2s] animate-ease-in-out"
    >
      <source src="/video.webm" type="video/webm" />
      <source src="/video.mp4" type="video/mp4" />
    </video>
  </div>
  <video
    class="video hidden absolute -bottom-48 -z-40 blur-3xl animate-duration-[2s] animate-ease-in-out"
    autoplay
    loop
    muted
    preload="metadata"></video>
</div>
