---
import Layout from "../../layouts/Layout.astro";
---

<Layout
    title="Proyectos de Iluminación | AvDom Madrid | Kara Estudio de Luz"
    color="proyectos"
    description="iluminación efímera experimental"
>
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-3">
        <div class="grid gap-4 content-between">
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/portada_7.jpg"
                    alt="AvDom Madrid"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/6/avdom_01.jpg"
                    alt="AvDom Madrid"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/6/avdom_07.jpg"
                    alt="AvDom Madrid"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/6/avdom_10.jpg"
                    alt="AvDom Madrid"
                />
            </div>
        </div>
        <div class="grid gap-4 content-between">
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/portada_8.jpg"
                    alt="AvDom Madrid"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/6/avdom_05.jpg"
                    alt="AvDom Madrid"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/6/avdom_04.jpg"
                    alt="AvDom Madrid"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/6/avdom_08.jpg"
                    alt="AvDom Madrid"
                />
            </div>
        </div>
        <div class="grid gap-4 content-between">
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/portada_12.jpg"
                    alt="AvDom Madrid"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/6/avdom_03.jpg"
                    alt="AvDom Madrid"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/6/avdom_06.jpg"
                    alt="AvDom Madrid"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/6/avdom_09.jpg"
                    alt="AvDom Madrid"
                />
            </div>
        </div>
    </div>
</Layout>
