---
import Layout from "../../layouts/Layout.astro";
---

<Layout
    title="Proyectos de Iluminación | Ortega Diago Boulevard | Kara Estudio de Luz"
    color="proyectos"
>
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-3">
        <div class="grid gap-4 content-between">
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/portada_6.jpg"
                    alt="Ortega Diago Boulevard"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/5/ORTEGA-DIAGO-BOULEVARD_01.jpg"
                    alt="Ortega Diago Boulevard"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/5/ORTEGA-DIAGO-BOULEVARD_04.jpg"
                    alt="Ortega Diago Boulevard"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/5/ORTEGA-DIAGO-BOULEVARD_07.jpg"
                    alt="Ortega Diago Boulevard"
                />
            </div>
        </div>
        <div class="grid gap-4 content-between">
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/5/ORTEGA-DIAGO-BOULEVARD_02.jpg"
                    alt="Ortega Diago Boulevard"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/5/ORTEGA-DIAGO-BOULEVARD_05.jpg"
                    alt="Ortega Diago Boulevard"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/5/ORTEGA-DIAGO-BOULEVARD_08.jpg"
                    alt="Ortega Diago Boulevard"
                />
            </div>
        </div>
        <div class="grid gap-4 content-between">
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/5/ORTEGA-DIAGO-BOULEVARD_03.jpg"
                    alt="Ortega Diago Boulevard"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/5/ORTEGA-DIAGO-BOULEVARD_06.jpg"
                    alt="Ortega Diago Boulevard"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/5/ORTEGA-DIAGO-BOULEVARD_09.jpg"
                    alt="Ortega Diago Boulevard"
                />
            </div>
        </div>
    </div>
</Layout>
