---
import Layout from "../../layouts/Layout.astro";
---

<Layout
    title="Proyectos de Iluminación | Chillida Leku Evento | Kara Estudio de Luz"
    color="proyectos"
>
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-3">
        <div class="grid gap-4 content-between">
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/portada_10.jpg"
                    alt="Chillida Leku"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/8/chillidaleku_01.jpg"
                    alt="Chillida Leku"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/8/chillidaleku_05.jpg"
                    alt="Chillida Leku"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/8/chillidaleku_13.jpg"
                    alt="Chillida Leku"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/8/chillidaleku_16.jpg"
                    alt="Chillida Leku"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/8/chillidaleku_19.jpg"
                    alt="Chillida Leku"
                />
            </div>
        </div>
        <div class="grid gap-4 content-between">
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/portada_11.jpg"
                    alt="Chillida Leku"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/8/chillidaleku_02.jpg"
                    alt="Chillida Leku"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/8/chillidaleku_04.jpg"
                    alt="Chillida Leku"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/8/chillidaleku_10.jpg"
                    alt="Chillida Leku"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/8/chillidaleku_08.jpg"
                    alt="Chillida Leku"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/8/chillidaleku_14.jpg"
                    alt="Chillida Leku"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/8/chillidaleku_17.jpg"
                    alt="Chillida Leku"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/8/chillidaleku_20.jpg"
                    alt="Chillida Leku"
                />
            </div>
        </div>
        <div class="grid gap-4 content-between">
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/8/chillidaleku_03.jpg"
                    alt="Chillida Leku"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/8/chillidaleku_06.jpg"
                    alt="Chillida Leku"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/8/chillidaleku_09.jpg"
                    alt="Chillida Leku"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/8/chillidaleku_12.jpg"
                    alt="Chillida Leku"
                />
            </div>   
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/8/chillidaleku_07.jpg"
                    alt="Chillida Leku"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/8/chillidaleku_15.jpg"
                    alt="Chillida Leku"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/8/chillidaleku_18.jpg"
                    alt="Chillida Leku"
                />
            </div>
        </div>
    </div>
</Layout>
