---
import Layout from "../../layouts/Layout.astro";
---

<Layout
    title="Proyectos de Iluminación | Círculo Ecuestre| Kara Estudio de Luz"
    color="proyectos"
>
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-3">
        <div class="grid gap-4 content-between">
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/portada_2.jpg"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/2/CírculoEcuestre_1.jpg"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/2/CírculoEcuestre_2.jpg"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/portada_3.jpg"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/3/Puig_Círculo_Ecuestre_01.jpg"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/3/Puig_Círculo_Ecuestre_02.jpg"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/3/Puig_Círculo_Ecuestre_12.jpg"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/portada_4.jpg"
                    alt="circulo ecuestre"
                />
            </div>
          
        </div>
        <div class="grid gap-4 content-between">
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/2/CírculoEcuestre_3.jpg"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/2/CírculoEcuestre_4.jpg"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/2/CírculoEcuestre_5.jpg"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/3/Puig_Círculo_Ecuestre_03.jpg"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/3/Puig_Círculo_Ecuestre_04.jpg"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/3/Puig_Círculo_Ecuestre_05.jpg"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/3/Puig_Círculo_Ecuestre_10.jpg"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/3/Puig_Círculo_Ecuestre_09.jpg"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/3/Puig_Círculo_Ecuestre_13.jpg"
                    alt="circulo ecuestre"
                />
            </div>
           
        </div>
        <div class="grid gap-4 content-between">
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/2/CírculoEcuestre_6.jpg"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/2/CírculoEcuestre_7.jpg"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/2/CírculoEcuestre_8.jpg"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/3/Puig_Círculo_Ecuestre_06.jpg"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/3/Puig_Círculo_Ecuestre_07.jpg"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/3/Puig_Círculo_Ecuestre_08.jpg"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/3/Puig_Círculo_Ecuestre_11.jpg"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/3/Puig_Círculo_Ecuestre_14.jpg"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/3/Puig_Círculo_Ecuestre_15.jpg"
                    alt="circulo ecuestre"
                />
            </div>
        </div>
    </div>
</Layout>
