---
import Layout from "../../layouts/Layout.astro";
---

<Layout
    title="Círculo Ecuestre | Kara Estudio de Luz"
    color="proyectos"
    description="Proyectos de Iluminación en Círculo Ecuestre"
>
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-3">
        <div class="grid gap-4 content-between">
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/portada_2.jpg"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/2/CirculoEcuestre_1.webp"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/2/CirculoEcuestre_2.webp"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/portada_3.jpg"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/3/Puig_Circulo_Ecuestre_01.webp"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/3/Puig_Circulo_Ecuestre_02.webp"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/3/Puig_Circulo_Ecuestre_12.webp"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/portada_4.jpg"
                    alt="circulo ecuestre"
                />
            </div>
          
        </div>
        <div class="grid gap-4 content-between">
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/2/CirculoEcuestre_3.webp"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/2/CirculoEcuestre_4.webp"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/2/CirculoEcuestre_5.webp"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/3/Puig_Circulo_Ecuestre_03.webp"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/3/Puig_Circulo_Ecuestre_04.webp"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/3/Puig_Circulo_Ecuestre_05.webp"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/3/Puig_Circulo_Ecuestre_10.webp"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/3/Puig_Circulo_Ecuestre_09.webp"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/3/Puig_Circulo_Ecuestre_13.webp"
                    alt="circulo ecuestre"
                />
            </div>
           
        </div>
        <div class="grid gap-4 content-between">
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/2/CirculoEcuestre_6.webp"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/2/CirculoEcuestre_7.webp"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/2/CirculoEcuestre_8.webp"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/3/Puig_Circulo_Ecuestre_06.webp"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/3/Puig_Circulo_Ecuestre_07.webp"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/3/Puig_Circulo_Ecuestre_08.webp"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/3/Puig_Circulo_Ecuestre_11.webp"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/3/Puig_Circulo_Ecuestre_14.webp"
                    alt="circulo ecuestre"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/3/Puig_Circulo_Ecuestre_15.webp"
                    alt="circulo ecuestre"
                />
            </div>
        </div>
    </div>
</Layout>
