---
import Layout from "../../layouts/Layout.astro";
---

<Layout
    title="Proyectos de Iluminación | Mucca Madrid | Kara Estudio de Luz"
    color="proyectos"
>
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-3">
        <div class="grid gap-4 content-between">
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/portada_5.jpg"
                    alt="Mucca Madrid"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/4/mucca_04.jpg"
                    alt="Mucca Madrid"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/4/mucca_07.jpg"
                    alt="Mucca Madrid"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/4/mucca_10.jpg"
                    alt="Mucca Madrid"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/4/mucca_13.jpg"
                    alt="Mucca Madrid"
                />
            </div>
        </div>
        <div class="grid gap-4 content-between">
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/4/mucca_02.jpg"
                    alt="Mucca Madrid"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/4/mucca_05.jpg"
                    alt="Mucca Madrid"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/4/mucca_08.jpg"
                    alt="Mucca Madrid"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/4/mucca_11.jpg"
                    alt="Mucca Madrid"
                />
            </div>
        </div>
        <div class="grid gap-4 content-between">
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/4/mucca_03.jpg"
                    alt="Mucca Madrid"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/4/mucca_06.jpg"
                    alt="Mucca Madrid"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/4/mucca_09.jpg"
                    alt="Mucca Madrid"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/4/mucca_12.jpg"
                    alt="Mucca Madrid"
                />
            </div>
        </div>
    </div>
</Layout>
