---
import Layout from "../../layouts/Layout.astro";
---

<Layout
    title="Mugako Festibal Vitoria | Kara Estudio de Luz"
    color="proyectos"
    description="Proyectos de Iluminación | Mugako Festibal Vitoria | Kara Estudio de Luz"
>
    <div class="grid grid-cols-1 gap-4 lg:grid-cols-3">
        <div class="grid gap-4 content-between">
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/portada_9.jpg"
                    alt="Mugako Vitoria"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/7/mugako_04.jpg"
                    alt="Mugako Vitoria"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/7/mugako_07.jpg"
                    alt="Mugako Vitoria"
                />
            </div>
        </div>
        <div class="grid gap-4 content-between">
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/7/mugako_01.jpg"
                    alt="Mugako Vitoria"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/7/mugako_02.jpg"
                    alt="Mugako Vitoria"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/7/mugako_05.jpg"
                    alt="Mugako Vitoria"
                />
            </div>
        </div>
        <div class="grid gap-4 content-between">
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/7/mugako_03.jpg"
                    alt="Mugako Vitoria"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/7/mugako_06.jpg"
                    alt="Mugako Vitoria"
                />
            </div>
        </div>
    </div>
</Layout>
