---
import Layout from '../../layouts/Layout.astro';

---

<Layout title="Palace | Kara Estudio" color='proyectos' description='Proyectos de Iluminación |Palace | Kara Estudio'>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 ">
        <div class="grid gap-4">
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/portada_1.jpg"
                    alt="palace-photo"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/1/palace_1.webp"
                    alt="palace-photo"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/1/palace_4.webp"
                    alt="palace-photo"
                />
            </div>
        </div>
        <div class="grid gap-4 items-start content-start">
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/1/palace_2.webp"
                    alt="palace-photo"
                />
            </div>
            <div>
                <img
                    class="h-auto max-w-full object-cover object-center"
                    src="/img/1/palace_3.webp"
                    alt="palace-photo"
                />
            </div>
        </div>
    </div>
</Layout>
